<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Rattlesnakes</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Development</key>
	<false/>
	<key>LimitedEdition</key>
	<false/>
	<key>LimitedEditionMaxVersions</key>
	<integer>0</integer>
	<key>DeviceSpecific</key>
	<dict>
		<key>iPad-Retina</key>
		<dict>
			<key>twitter_max_results</key>
			<integer>75</integer>
			<key>max_char_per_line</key>
			<integer>90</integer>
			<key>max_lines</key>
			<integer>15</integer>
		</dict>
		<key>iPad</key>
		<dict>
			<key>twitter_max_results</key>
			<integer>75</integer>
			<key>max_char_per_line</key>
			<integer>90</integer>
			<key>max_lines</key>
			<integer>15</integer>
		</dict>
		<key>iPhone-568h</key>
		<dict>
			<key>twitter_max_results</key>
			<integer>50</integer>
			<key>max_char_per_line</key>
			<integer>100</integer>
			<key>max_lines</key>
			<integer>9</integer>
		</dict>
		<key>iPhone-Retina</key>
		<dict>
			<key>twitter_max_results</key>
			<integer>50</integer>
			<key>max_char_per_line</key>
			<integer>100</integer>
			<key>max_lines</key>
			<integer>9</integer>
		</dict>
		<key>iPhone</key>
		<dict>
			<key>twitter_max_results</key>
			<integer>50</integer>
			<key>max_char_per_line</key>
			<integer>100</integer>
			<key>max_lines</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>Links</key>
	<dict>
		<key>guestpoets_dev</key>
		<string>http://poemm.net/dev/api/get_texts.php?id=rattlesnakes</string>
		<key>guestpoets_live</key>
		<string>http://poemm.net/api/get_texts.php?id=rattlesnakes</string>
		<key>le_register_dev</key>
		<string>https://www.poemm.net/le/dev/register.php</string>
		<key>le_register_live</key>
		<string>https://www.poemm.net/le/register.php</string>
		<key>le_signin_dev</key>
		<string>https://www.poemm.net/le/dev/index.php</string>
		<key>le_signin_live</key>
		<string>https://www.poemm.net/le/index.php</string>
		<key>le_request_password_dev</key>
		<string>https://www.poemm.net/le/dev/forgot_password.php</string>
		<key>le_request_password_live</key>
		<string>https://www.poemm.net/le/forgot_password.php</string>
		<key>le_reset_password_dev</key>
		<string>https://www.poemm.net/le/dev/reset_password.php</string>
		<key>le_reset_password_live</key>
		<string>https://www.poemm.net/le/reset_password.php</string>
		<key>fonts_dev</key>
		<string>http://poemm.net/dev/font/</string>
		<key>fonts_live</key>
		<string>http://poemm.net/font/</string>
		<key>texts_dev</key>
		<string>http://poemm.net/dev/text/rattlesnakes/</string>
		<key>texts_live</key>
		<string>http://poemm.net/text/rattlesnakes/</string>
		<key>images_dev</key>
		<string>http://poemm.net/dev/images/</string>
		<key>images_live</key>
		<string>http://poemm.net/images/</string>
	</dict>
</dict>
</plist>
