<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Style</key>
	<dict>
		<key>Tint</key>
		<array>
			<real>0.137</real>
			<real>0.325</real>
			<real>0.16</real>
			<integer>1</integer>
		</array>
		<key>SelectionTint</key>
		<array>
			<real>0.137</real>
			<real>0.325</real>
			<real>0.16</real>
			<integer>1</integer>
		</array>
		<key>Images</key>
		<dict>
			<key>iPad-Retina</key>
			<dict>
				<key>texture</key>
				<string>OKInfoView-iPad-Backdrop-Texture.png</string>
				<key>header</key>
				<string>header-ipad.png</string>
			</dict>
			<key>iPad</key>
			<dict>
				<key>texture</key>
				<string>OKInfoView-iPad-Backdrop-Texture.png</string>
				<key>header</key>
				<string>header-ipad.png</string>
			</dict>
			<key>iPhone-568h</key>
			<dict>
				<key>texture</key>
				<string>OKInfoView-iPhone-Backdrop-Texture-568h.png</string>
				<key>header</key>
				<string>header-568h.png</string>
			</dict>
			<key>iPhone-Retina</key>
			<dict>
				<key>texture</key>
				<string>OKInfoView-iPhone-Backdrop-Texture.png</string>
				<key>header</key>
				<string>header.png</string>
			</dict>
			<key>iPhone</key>
			<dict>
				<key>texture</key>
				<string>OKInfoView-iPhone-Backdrop-Texture.png</string>
				<key>header</key>
				<string>header.png</string>
			</dict>
			<key>icons</key>
			<dict>
				<key>about</key>
				<string>info.png</string>
				<key>guestpoets</key>
				<string>guestpoets.png</string>
				<key>usertexts</key>
				<string>usertexts.png</string>
				<key>customize</key>
				<string>customize.png</string>
				<key>limitededition</key>
				<string>limitededition.png</string>
				<key>share</key>
				<string>share.png</string>
			</dict>
			<key>close</key>
			<string>close.png</string>
			<key>facebook</key>
			<string>facebook.png</string>
			<key>twitter</key>
			<string>twitter.png</string>
			<key>mail</key>
			<string>mail.png</string>
			<key>author</key>
			<string>placeholder.png</string>
			<key>infoview-r</key>
			<string>right-button.png</string>
			<key>infoview-l</key>
			<string>left-button.png</string>
			<key>share</key>
			<array>
				<string>screenshot1.png</string>
				<string>Default-Landscape@2x.png</string>
				<string>screenshot2.png</string>
				<string>screenshot3.png</string>
				<string>screenshot4.png</string>
			</array>
		</dict>
		<key>Animations</key>
		<dict>
			<key>iv_hide_delay</key>
			<real>3.5</real>
			<key>iv_fade_delay</key>
			<real>0.1</real>
			<key>iv_fade_duration</key>
			<real>0.5</real>
			<key>text_composer_toggle_duration</key>
			<real>0.25</real>
			<key>text_composer_auto_hide_delay</key>
			<integer>10</integer>
			<key>share_selection_duration</key>
			<real>0.35</real>
		</dict>
	</dict>
	<key>Texts</key>
	<dict>
		<key>twitter</key>
		<string>New search (e.g. keyword, @username, #hashtag)</string>
		<key>custom</key>
		<string>Type title here and hit return to create.</string>
		<key>share</key>
		<string>I&apos;m sharing a P.o.E.M.M. app with you. Please see www.poemm.net for more information.</string>
	</dict>
	<key>Interface</key>
	<dict>
		<key>iPad-Retina</key>
		<dict>
			<key>tap_max_time</key>
			<real>0.15</real>
			<key>hot_corner_radius</key>
			<integer>75</integer>
			<key>iv_button_size</key>
			<integer>50</integer>
			<key>iv_button_padding</key>
			<integer>10</integer>
			<key>share_button_width</key>
			<integer>75</integer>
			<key>share_button_height</key>
			<integer>85</integer>
		</dict>
		<key>iPad</key>
		<dict>
			<key>tap_max_time</key>
			<real>0.15</real>
			<key>hot_corner_radius</key>
			<integer>75</integer>
			<key>iv_button_size</key>
			<integer>50</integer>
			<key>iv_button_padding</key>
			<integer>10</integer>
			<key>share_button_width</key>
			<integer>75</integer>
			<key>share_button_height</key>
			<integer>85</integer>
		</dict>
		<key>iPhone-568h</key>
		<dict>
			<key>tap_max_time</key>
			<real>0.15</real>
			<key>hot_corner_radius</key>
			<integer>75</integer>
			<key>iv_button_size</key>
			<integer>50</integer>
			<key>iv_button_padding</key>
			<integer>10</integer>
			<key>share_button_width</key>
			<integer>65</integer>
			<key>share_button_height</key>
			<integer>75</integer>
		</dict>
		<key>iPhone-Retina</key>
		<dict>
			<key>tap_max_time</key>
			<real>0.15</real>
			<key>hot_corner_radius</key>
			<integer>75</integer>
			<key>iv_button_size</key>
			<integer>50</integer>
			<key>iv_button_padding</key>
			<integer>10</integer>
			<key>share_button_width</key>
			<integer>65</integer>
			<key>share_button_height</key>
			<integer>75</integer>
		</dict>
		<key>iPhone</key>
		<dict>
			<key>tap_max_time</key>
			<real>0.15</real>
			<key>hot_corner_radius</key>
			<integer>75</integer>
			<key>iv_button_size</key>
			<integer>50</integer>
			<key>iv_button_padding</key>
			<integer>10</integer>
			<key>share_button_width</key>
			<integer>65</integer>
			<key>share_button_height</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>MoreApps</key>
	<dict>
		<key>Speak</key>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>image</key>
			<string>speak.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/speak/id406078727?mt=8</string>
		</dict>
		<key>Know</key>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>image</key>
			<string>know.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/know/id446777294?mt=8</string>
		</dict>
		<key>Migration</key>
		<dict>
			<key>order</key>
			<integer>2</integer>
			<key>image</key>
			<string>migration.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/migration/id464900068?mt=8</string>
		</dict>
		<key>Bastard</key>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>image</key>
			<string>bastard.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/smooth-second-bastard/id464978532?mt=8</string>
		</dict>
		<key>Choice</key>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>image</key>
			<string>choice.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/no-choice-about-terminology/id475338554?ls=1&amp;mt=8</string>
		</dict>
		<key>White</key>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>image</key>
			<string>white.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/the-world-was-white/id775138899?mt=8</string>
		</dict>
		<key>Rattlesnakes</key>
		<dict>
			<key>order</key>
			<integer>5</integer>
			<key>image</key>
			<string>rattlesnakes.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/rattlesnakes/id684327074?ls=1&amp;mt=8</string>
		</dict>
		<key>Death</key>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>image</key>
			<string>death.png</string>
			<key>url</key>
			<string>https://itunes.apple.com/app/the-world-that-surrounds-you/id778145716?ls=1&amp;mt=8</string>
		</dict>
	</dict>
	<key>Errors</key>
	<dict>
		<key>Registration</key>
		<dict>
			<key>0</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>Internet connection unavailable. Please check that your internet connection is activated and try again.</string>
			</dict>
			<key>1</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not register your account because your email is missing. Please try again.</string>
			</dict>
			<key>2</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not register your account because your password is missing. Please try again.</string>
			</dict>
			<key>3</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not register your account because your email is too long. Please try again with less than 255 characters.</string>
			</dict>
			<key>4</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not register your account because your first name is too long. Please try again with less than 255 characters.</string>
			</dict>
			<key>5</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not register your account because your last name is too long. Please try again with less than 255 characters.</string>
			</dict>
			<key>6</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not register your account because your password is too long. Please try again with less than 255 characters.</string>
			</dict>
			<key>7</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>This email has already been registered. If you did not register this email please contact us. If you forgot your password, please go to &apos;Sign In&apos; and use the &apos;Forgot Password&apos; feature.</string>
			</dict>
			<key>8</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not sign in your account because your email is missing. Please try again.</string>
			</dict>
			<key>9</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not sign in your account because your password is missing. Please try again.</string>
			</dict>
			<key>10</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The email and password combination you have entered is incorrect. Please try again.</string>
			</dict>
			<key>11</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>This email has not yet been registered. If you did register this email please contact us.</string>
			</dict>
			<key>12</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not generate a temporary password for your account because your email is missing. Please try again.</string>
			</dict>
			<key>13</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>A temporary password was sent to your inbox. You can use this temporary password to sign in. You will be able to change this password after a successful login.</string>
			</dict>
			<key>14</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>The system could not update the password for your account because your email is missing. Please try again.</string>
			</dict>
			<key>15</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>Your password has successfully been updated.</string>
			</dict>
			<key>16</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>The highlighted fields require your attention.</string>
			</dict>
			<key>17</key>
			<dict>
				<key>action</key>
				<true/>
				<key>value</key>
				<string>An error occurred while trying to connect to the server. Please check that your internet connection is activated and try again.</string>
			</dict>
		</dict>
		<key>OKInfoView</key>
		<dict>
			<key>0</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>A text with this title already exists. Please use a different one or delete the existing one.</string>
			</dict>
			<key>1</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>The application could not update the Guest Poets poem list due to a connection error. Please try again later.</string>
			</dict>
			<key>2</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>The application could not load the text due to an internal failure. Please upload the Guest Poets poem list and try again.</string>
			</dict>
			<key>3</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>Your text has not been pasted in its entirity due to its length.</string>
			</dict>
			<key>4</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>An unsuported character was detected. Your text has not been added.</string>
			</dict>
			<key>5</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>There was no result for your search.</string>
			</dict>
			<key>6</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>This Twitter search already exists. Please search a different feed/user or delete the existing one.</string>
			</dict>
			<key>7</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>The application is unable to access this service. If you wish to use this service, you can enable it through the Settings page.</string>
			</dict>
			<key>8</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>The application could not load the text due to an internal failure. Please try again.</string>
			</dict>
			<key>9</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>The application could not load the text due to an internal failure. Please try again.</string>
			</dict>
			<key>10</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>Internet connection unavailable. Please check that your internet connection is activated and try again.</string>
			</dict>
			<key>11</key>
			<dict>
				<key>action</key>
				<false/>
				<key>value</key>
				<string>There was an error reading the incoming data. Please try updating again.</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
