<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.Rattlesnakes.jlewis.Rattlesnakes</key>
	<array>
		<dict>
			<key>SnakeFont</key>
			<string>Archive36</string>
			<key>ShiftSoundsTime</key>
			<integer>3000</integer>
			<key>AmbientVolumeStart</key>
			<real>0.4</real>
			<key>AmbientVolumeEnd</key>
			<real>0.15</real>
			<key>ThreatVolume</key>
			<real>0.5</real>
			<key>RattleVolume</key>
			<real>0.3</real>
			<key>StrikeVolume</key>
			<real>0.3</real>
			<key>FirstStrikeSndFile</key>
			<string>hi hat.mp3</string>
			<key>SnakeFontSize</key>
			<integer>100</integer>
			<key>SnakeFile</key>
			<string>snakes.txt</string>
			<key>SnakeColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.196</real>
			</array>
			<key>TextFont</key>
			<string>StaticBold</string>
			<key>TextVerticalMargin</key>
			<integer>20</integer>
			<key>TextHorizontalMargin</key>
			<integer>40</integer>
			<key>TextColor</key>
			<array>
				<real>0.267</real>
				<real>0.027</real>
				<real>0.753</real>
				<integer>1</integer>
			</array>
			<key>TextFadeInSpeed</key>
			<real>0.05</real>
			<key>TextFadeOutSpeed</key>
			<real>0.008</real>
			<key>UnbitableMargin</key>
			<integer>50</integer>
			<key>SnakeBiteMass</key>
			<integer>100</integer>
			<key>SnakeBiteOpacityTrigger</key>
			<real>0.1</real>
			<key>SnakeScalingFactors</key>
			<array>
				<real>0.2</real>
				<real>0.6</real>
				<real>0.8</real>
				<real>0.2</real>
			</array>
			<key>SnakeScalingPositions</key>
			<array>
				<integer>0</integer>
				<real>0.93</real>
				<real>0.96</real>
				<integer>1</integer>
			</array>
			<key>TextChangeInterval</key>
			<integer>15</integer>
			<key>TextChangeSpeed</key>
			<integer>4</integer>
			<key>IdleInterval</key>
			<integer>5</integer>
			<key>BgSnakeInterval</key>
			<integer>5</integer>
			<key>BgSnakeOpacity</key>
			<real>0.1</real>
			<key>FirstBiteDelay</key>
			<integer>0</integer>
			<key>NextBiteMinimumDelay</key>
			<integer>2000</integer>
			<key>NextBiteMaximumDelay</key>
			<integer>6000</integer>
			<key>PhysicsDrag</key>
			<real>0.15</real>
			<key>PhysicsGravity</key>
			<integer>0</integer>
			<key>SmoothLevel</key>
			<integer>2</integer>
			<key>Author</key>
			<string>Jason Edward Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>Title</key>
			<string>The Summer The Rattlesnakes Came</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>Properties-iPad-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>rattlesnakes</string>
				<key>FontFile</key>
				<string>StaticBold36</string>
				<key>FontTessellationFile</key>
				<string>StaticBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>10</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>6</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>350</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>250</integer>
				<key>BackgroundTextScale</key>
				<real>7.75</real>
				<key>MaximumDistancePadding</key>
				<integer>150</integer>
				<key>RenderPadding</key>
				<integer>20</integer>
				<key>TouchOffset</key>
				<integer>40</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>SnakeFontScaling</key>
				<string>2.5</string>
				<key>SnakeBiteStrenghtMult</key>
				<integer>800</integer>
				<key>SnakeBiteMinDistance</key>
				<integer>300</integer>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>TextFile</key>
				<string>rattlesnakes</string>
				<key>FontFile</key>
				<string>StaticBold36</string>
				<key>FontTessellationFile</key>
				<string>StaticBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>10</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>6</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>350</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>250</integer>
				<key>BackgroundTextScale</key>
				<real>7.75</real>
				<key>MaximumDistancePadding</key>
				<integer>150</integer>
				<key>RenderPadding</key>
				<integer>20</integer>
				<key>TouchOffset</key>
				<integer>40</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>SnakeFontScaling</key>
				<string>2.5</string>
				<key>SnakeBiteStrenghtMult</key>
				<integer>400</integer>
				<key>SnakeBiteMinDistance</key>
				<integer>200</integer>
			</dict>
			<key>Properties-iPhone-568h</key>
			<dict>
				<key>TextFile</key>
				<string>rattlesnakes</string>
				<key>FontFile</key>
				<string>StaticBold36</string>
				<key>FontTessellationFile</key>
				<string>StaticBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>10</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>195</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>20</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>SnakeFontScaling</key>
				<string>1</string>
				<key>SnakeBiteStrenghtMult</key>
				<integer>100</integer>
				<key>SnakeBiteMinDistance</key>
				<integer>100</integer>
			</dict>
			<key>Properties-iPhone-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>rattlesnakes</string>
				<key>FontFile</key>
				<string>StaticBold36</string>
				<key>FontTessellationFile</key>
				<string>StaticBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>10</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>165</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>20</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>SnakeFontScaling</key>
				<string>1</string>
				<key>SnakeBiteStrenghtMult</key>
				<integer>150</integer>
				<key>SnakeBiteMinDistance</key>
				<integer>100</integer>
			</dict>
			<key>Properties-iPhone</key>
			<dict>
				<key>TextFile</key>
				<string>rattlesnakes</string>
				<key>FontFile</key>
				<string>StaticBold36</string>
				<key>FontTessellationFile</key>
				<string>StaticBold36</string>
				<key>OutlineWidth</key>
				<integer>3</integer>
				<key>WordTessellationAccurracy</key>
				<string>10</string>
				<key>OutlinedWordTessellationAccurracy</key>
				<integer>4</integer>
				<key>BackgroundTextSpeed</key>
				<integer>3</integer>
				<key>BackgroundTextHorizontalMargin</key>
				<integer>165</integer>
				<key>BackgroundTextVerticalMargin</key>
				<integer>105</integer>
				<key>BackgroundTextScale</key>
				<real>5.25</real>
				<key>MaximumDistancePadding</key>
				<integer>70</integer>
				<key>RenderPadding</key>
				<integer>10</integer>
				<key>TouchOffset</key>
				<integer>20</integer>
				<key>OffsetSpeedScalar</key>
				<real>0.065</real>
				<key>SnakeFontScaling</key>
				<string>1</string>
				<key>SnakeBiteStrenghtMult</key>
				<integer>100</integer>
				<key>SnakeBiteMinDistance</key>
				<integer>100</integer>
			</dict>
			<key>BackgroundColor</key>
			<array>
				<real>0.25</real>
				<real>0.376</real>
				<real>0.188</real>
				<integer>1</integer>
			</array>
			<key>BackgroundTextLeadingScalar</key>
			<real>0.8</real>
			<key>MaximumSentences</key>
			<integer>2</integer>
			<key>BackgroundFlickerSpeed</key>
			<real>0.5</real>
			<key>BackgroundFlickerPropability</key>
			<real>0.7</real>
			<key>BackgroundFlickerScalar</key>
			<real>0.235</real>
			<key>MaximumSideWords</key>
			<integer>5</integer>
			<key>FadeInOpacity</key>
			<integer>1</integer>
			<key>FadeOutOpacity</key>
			<integer>0</integer>
			<key>FadeOutSpeed</key>
			<real>0.025</real>
			<key>FadeInSpeedHighlight</key>
			<real>0.1</real>
			<key>FadeOutSpeedHighlight</key>
			<real>0.001</real>
			<key>FadeSpeedScroll</key>
			<real>0.75</real>
			<key>ScrollDrag</key>
			<real>0.95</real>
			<key>ScrollSpeed</key>
			<real>12.5</real>
			<key>MaximumDistanceMultiplier</key>
			<integer>35</integer>
			<key>MaximumSidePreloadWords</key>
			<integer>10</integer>
			<key>MaximumFadeOutSpeedHighlight</key>
			<real>0.1</real>
			<key>MaximumFadingLines</key>
			<integer>10</integer>
			<key>WordFillColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>OutlinedWordFillColor</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>OutlinedWordOutlineColor</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
